# Google Key #
##############
lib/shared-sample-android-1.0.0.jar

# bin / compiled sources #
##########################
bin/*
*.class

# settings and whatever #
#########################
.settings/*

# OS crap #
###########
Thumbs.db

